body {
	font-family: 'Karla', sans-serif;
}

.design-header {
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	background-color: #F9F9F9;
	margin-top: 3em;
}

#nav-principal {
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		padding: 0 1em;
	}
	a {
		color: #666;
	}
	a:hover {
		color: #000;
		text-decoration: none;
	}
}